@use'../util' as *;

.toggle{
    border: none;
    display: grid;

    &__wrapper{
        position: relative;
        height: rem(24);

    }
    input[type="radio"]{
        // opacity: 0;
        

    }
    &__background{
        display: block;
        height: 100%;
        background: linear-gradient(
            225deg, 
            var(--toggel-bg-start)0%,  
            var(--toggle-bg-end)98.02%
            );
            border-radius: rem(9999);
           


    }
    &__button{
        width:rem(16);
        height: rem(16);
        border-radius: 50%;
        background-color: var(--darkToggle);
    }
    label{

    }
}